body {
    background: url("../images/hero-bg.jpg") 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
    height: 100%;
  }
  
/* Ainda alterando iframe para adequação na página */
  iframe {
    width: 100%;
    border: none;
    height: 80px;
  }

  h1{
    font: normal normal bold 55px/21px 'Rubik';
    letter-spacing: 0px;
    color: #72EFDB;
    opacity: 1;
    text-align: center;
  }
  .login-form {
    border-radius: 14px;
    opacity: 1;
    /* Usado medidas relativas para flexibilizar a página */
    width: 25vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    /* Utilizad RGBA para transparecer somente o fundo */
    background: rgba(10, 10, 55, 0.5);
    margin: 9% 41%;
  }
  form {
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 53%;
    align-items: center;
    margin: auto;
  }

  .button {
    background: #72EFDB 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 40%;
    padding: 3%;
    border-radius: 34px;
    border-style: none;
    font: normal normal normal 30px/40px 'Rubik';
    letter-spacing: 0.57px;
    text-transform: uppercase;
    color: #0B1741;
    margin-top: 31%;
  }

  .input {
    background-color: transparent;
    font: normal normal normal 40px/70px 'Rubik';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 12%;
    width: 100%;
  }

    @media (max-width: 980px) {
    .login-form {
      width: 70vw;
      height: 55vh;
      margin: 30% 15%;
    }

    body {
      background-position: center;
    }

  }
