body {
    background-color: #0A1744;
    margin: 0;
}

.container {
    background-color: #0A1744;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.phrase-results {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    margin-bottom: 60px;
    color: #FFFFFF;
    letter-spacing: 1.6px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

/* estilização dos botões */
.result-buttons {
    margin-bottom: 30px;
}

#tweet-button {
    width: 150px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0A1744;
    border: none;
}

#images-button {
    width: 150px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0A1744;
    border: none;
}
/* FIM da estilização dos botoẽs */


.post-section {
    display: flex;
    width: 92%;
}


/* Estilização área de imagens */
.img-area {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    width: 48%;
}

.img-area li {
    margin-left: 35px;
    margin-bottom: 35px;
    list-style: none;
}

.img-final {
    width: 200px;
    height: 200px;
    border-radius: 21px;
}

.posted-for {
    margin-top: -110px;
    padding-left: 10px;
    text-align: left;
}

.user-post {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: -15px;
    margin-top: 40px;
}

.user-twitter {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    color: #FFFFFF;
}
/*FIM das estilização da área de imagens */



/*Estilização da área de postagens dos usuários*/
.tweet-area {
    width: 55%;
}

.tweet-area li {
    width: 100%;
    background-color: #1E3E7B17;
    border: 1px solid #FFFFFF24;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
    height: 230px;
    text-align: left;
}

.tweet-area li img {
    border-radius: 50px;
    opacity: 1;
    width: 82px;
    height: 82px;
    margin-left: 28px;
    margin-top: 35px;
}

.tweet-area li div {
    margin-left: 31px;
    margin-right: 31px;
    margin-top: 10px;
}

.tweet-area h3 {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    font-size: 27px;
}

.tweet-area span {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0.43;
}

.tweet-area p {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.23px;
    color: #D9D9D9;
    font-size: 19px;
}

.tweet-area a {
    font-family: 'Rubik', sans-serif;
    color: #72EFDB;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}
/* FIM da Estilização da área de postagens dos usuários*/

/* Seção de media query*/
@media (max-width: 1920px){
    .result-buttons{
        display: none;
    }
}

@media (max-width: 1200px) {
    .result-buttons {
        display: none;
    }
    .img-area {
        width: 32%;
    }
    .img-final {
        width: 200px;
        height: 200px;
        border-radius: 21px;
    }
}

@media (max-width: 1060px) {
    .tweet-area {
        width: 100%;
    }
}

@media (max-width: 943px) {
    .tweet-area {
        width: 100%;
    }

    .tweet-area li {
        height: 235px;
    }
}

@media (max-width: 882px) {
    .result-buttons {
        display: block;
    }
    .tweet-area {
        width: 100%;
    }
    .img-area {
        width: 100%;
        display: none;
    }
}


@media (max-width: 583px) {
    .tweet-area h3 {
        font-size: 25px;
    }
    .tweet-area p {
        letter-spacing: 0.23px;
        color: #D9D9D9;
        font-size: 17px;
        margin-top: -14px;
    }
    .tweet-area a {
        font-size: 17px;
    }
}


@media (max-width: 496px) {
    .phrase-results {
        display: none;
    }
    .result-buttons {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .tweet-area li div {
        margin-top: 2px;
    }
    .tweet-area h3 {
        font-size: 21px;
    }
    .tweet-area span {
        font-size: 17px;
    }
    .tweet-area p {
        letter-spacing: 0.23px;
        color: #D9D9D9;
        font-size: 16px;
        margin-top: -13px;
    }
    .tweet-area a {
        font-size: 15px;
    }
}

@media (max-width: 431px) {
    .tweet-area p {
        letter-spacing: 0.23px;
        color: #D9D9D9;
        font-size: 14px;
        margin-top: -10px;
    }
 }
/* FIM da seção media query */