* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
/* background do hero */
.hero {
    background-image: url("/images/hero-bg.jpg");
    background-color: #0A1744;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
/* estilo do h1 */
div h1 {
    display: block;
    width: 840px;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    line-height: 130%;
}
/* estilo do texto abaixo do h1 */
div p {
    display: block;
    width: 640px;
    font-size: 31px;
    color: #fff;
}

/* area da caixa de busca */
.search_area {
    border-radius: 35px;
    width: 40%;
    padding: 20px;
    background-color: #1E3E7B;

}

input {
    background-color: transparent;
    border: none;
    color: #8D9DA2;
    font-size: 30px;
    width: 80%;
}
.search_area img {
    width: 20px;
    margin-right: 25px;
    margin-left: 25px;
}

/* fontes utilizadas */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');